* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    font-size: 48px;
}
.rules {
    font-size: 28px;
}

.top-half {
    background-color: rgb(135, 135, 135);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 28px;
}

.scoreboard {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.bubble {
    background-color: #1e1d1d;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: whitesmoke;
}

.score-dash {
    height: 10px;
    width: 50px;
    background-color: #1e1d1d;
}

.game-area {
    background-color: rgb(247, 247, 247);
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.you-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.your-choices {
    display: flex;
    gap: 15px;
}
.rock:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-6px);
}
.paper:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-6px);
}
.scissors:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-6px);
}

.cpu-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    border: solid black 3px;
    border-radius: 8px;
    font-size: 100px;
    padding: 16px;
}

/* display: block to show, none to hide */
#overlay {
    position: fixed;
    display: none;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(89, 87, 87);
    border: solid black 1px;
    border-radius: 8px;
    padding: 30px 48px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.result {
    font-size: 38px;
}

.play-again {
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: red;
}

.play-again:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-1px);
}

/* 0 px for no blur, 30px for blur */
#mask {
    filter: blur(0px);   
}